@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Silver State Telecom, Inc.<br />
    P.O. BOX 34262<br />
    Las Vegas, NV 89133-4262<br />
    <abbr title="Phone">P:</abbr>
    800.860.3786
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@SilverStateTelecom.com">Support@SilverStateTelecom.com</a><br />
    <strong>Billing:</strong> <a href="mailto:Billing@SilverStateTelecom.com">Billing@SilverStateTelecom.com</a>
</address>